@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@500&family=Ubuntu:wght@300&display=swap");

.App {
  font-family: sans-serif;
  text-align: center;
}
* {
  padding: 0px;
  margin: 0px;
}
